doctype html
html(lang="es")
	head
		title MEAN APP
		meta(charset="utf-8")
		//- link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css",rel="stylesheet")
		//- link(href="/css/bootstrap.min.css",rel="stylesheet")
		//- link(href="/css/app.css",rel="stylesheet")
	body
		h1 MEAN App!